<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="scripts.css" />
	</head>
	<body>
		<h1>Mini Message Board</h1>

		<h3><%= description %></h3>
		<ul>
			<% messages.forEach((message) => { %>
			<li class="message-container">
				<h4 class="message-user"><%= message.user %></h4>
				<p class="message-text"><%= message.text %></p>
				<p class="message-date"><%= message.added %></p>
			</li>

			<% }) %>
		</ul>
	</body>
</html>
